<%- include('../_partial/_header') %>

    <h1>Welcome to Home Page</h1>

    
    <div class="jumbotron">
        <div class="container">
            <img class="pic" src="image1.png" alt="Dog in Training" aria-label="Dog in Training">
            <h1>Lets gets Training.</h1>
            <p>
                This app is designed to help you train your dog. We have a variety of training programs to help you with
                meeting your goals.
            </p>
            <br />
            <p>
                <a class="my-button" href="/profile" role="button">Create a Profile »</a>
                <a class="my-button" href="/about" role="button">Learn more »</a>
            </p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <!-- Column 1 content -->
                <div class="review">
                    <img class="avatar-pic" src="a3.png" alt="Reviewer Avatar Picture">
                    <p class="review-text">"This app is superb! It makes tracking my pet's daily activities a breeze.
                        User-friendly interface and highly functional. Highly recommend!"</p>
                </div>
            </div>
            <div class="col-md-6">
                <!-- Column 2 content -->
                <div class="review">
                    <img class="avatar-pic" src="a4.png" alt="Reviewer Avatar Picture">
                    <p class="review-text">"Incredibly helpful app for pet owners! Streamlined, easy to navigate, and it
                        really simplifies our routine. Love the feeding schedule feature!"</p>
                </div>
            </div>
        </div>
    </div>


<%- include('../_partial/_footer') %>